.captain_container {
    /* border: 1px solid black; */
    overflow-y: auto;
    flex: 4;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

/* header */


.captain_header {
    margin: 58px 47px 0 50px;
    /* width: 74vw; */
    width: 1100px;
    height: 63px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.captain_header h1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.3px;
    color: #1E1E1E;
    /* margin-left: 20px; */
}

.captain_search {
    display: flex;
    cursor: pointer;
}

.input {
    width: 400px;
    height: 40px;
    background: #FAFAFA;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2), inset 0px 1px 0px rgba(0, 0, 0, 0.02);
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.input img {
    height: 15.9px;
    width: 15.9px;
    margin-left: 16px;
}

.input input {
    width: 112px;
    height: 19px;
    border: none;
    background: #FAFAFA;
}

.input input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.004em;
    color: #474F54;
    opacity: 0.34;
}

.image {
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 12px;
    gap: 6.67px;
}

.frame {
    margin-left: 20px;
}

.bell {
    margin-left: 18px;
}

.user {
    width: 40px;
    height: 40px;
}


/* chart */

.captain_chart {
    width: 1100px;
    height: 339px;
    margin: 32px 0 0 50px;
    display: flex;
    gap: 18px;
}

.chart_1 {
    width: 486px;
    height: 339px;
    background: #FFFFFF;
    border: 1px solid #D9DADE;
    box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
}

.chart_2 {
    width: 289px;
    height: 339px;
    background: #FFFFFF;
    border: 1px solid #D9DADE;
    box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
}

.chart_3 {
    width: 289px;
    height: 339px;
    background: #FFFFFF;
    border: 1px solid #D9DADE;
    box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
}


/* services */

.captain_services {
    width: 1099px;
    height: 43px;
    margin: 49px 0 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.captain_services h1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.3px;
    color: #1E1E1E;
} 

.filter {
    display: flex;
    gap: 12px;
    width: 357px;
    height: 43px;
}

.search {
    width: 239px;
    height: 43px;
    background: #FFFFFF;
    border: 1px solid #D9DADE;
    border-radius: 32px;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    justify-content: space-between;
    cursor: pointer;
}

.search input {
    width: 171px;
    height: 19px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.004em;
    color: #A0AEC0;
    opacity: 0.7;
    border: none;
}

.search img {
    height: 11.6px;
    width: 11.6px;
}

.filter_by {
    width: 106px;
    height: 43px;
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    gap: 8px;
    width: 106px;
    height: 43px;
    background: #FFFFFF;
    border: 1px solid #D9DADE;
    border-radius: 32px;
    cursor: pointer;
}

.filter_by span {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.004em;
    color: #1E1E1E;
}
.filter_by img {
    height: 16px;
    width: 16px;
}

/* table */

.captain_table {
    width: 1100px;
    height: 532px;
    background: #FFFFFF;
    border: 0.5px solid #D9DADE;
    box-shadow: 0px 3.5px 4.5px rgba(0, 0, 0, 0.01);
    border-radius: 4px;
    margin: 20px 0 0 50px;
}

.pagination {
    width: 290px;
    height: 40px;
    margin: 30px 467px 0 470px;
}